@CHARSET "UTF-8";
#index_main_block{
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #464646;
    overflow: hidden;
    width:100%;
    min-height: 500px;
    display:block;
    border-radius:10px;
    border:1px solid #9BDF70;
    background-color: #F0FBEB;
}
#bannerimg{
    padding:10px 10px 10px 10px;
    border-radius:5px;
}
#bannerimg img{
    width:980px;
    height:250px;
    border-radius:5px;
}
#columns{
    padding:10px 10px 10px 10px;
    min-height:200px;
    width:980px;
}
.column2 .column{
    width:450px;
    margin-left:10px;
    padding:10px 10px 10px 10px;
    float:left;
    border:solid 1px #CCEFF5;
    border-radius:5px;
    display:block;
    min-height: 150px;
}
.column3 .column{
    width:290px;
    margin-left:10px;
    padding:10px 10px 10px 10px;
    float:left;
    border:solid 1px #CCEFF5;
    border-radius:5px;
    display:block;
    min-height: 150px;
}
.column .columnheader{
    display:block;
    margin-bottom:10px;
}
.column .columnleft{
    margin-left:0px;
}
.column .columnright{
    float:right;
    margin-right:0px;
}
.column .columncontent{
    display:block;
    margin-top:5px;
}

#comMsgbox .highlight{
    color:red;
    font-size:22px;
    margin-left:5px;
    margin-right:5px;
}
#comMsgbox{
    text-align:center;
    align:center;
    display:block;
}
#comMsgbox .msgbutton{
   position:absolute;
   margin-top:-160px;
   width:285px;
   z-index: 99;
}
#comMsgbox #comMsgboxbg{
    display:block;
    border-radius:5px;
    position:relative;
    width:285px;
    z-index: 1;
}
#comMsgbox #baomintbt{
    border-radius:10px;
    position:absolute;
    margin-left:-55px;
    margin-top:20px;
}
#comMsgbox .msg{
    margin-bottom:20px;
    margin-top:10px;
    font-size:20px;
    margin-left:5px;
    margin-right:5px;
    padding:10 10 10 10;
}
