* {
    padding: 0px;
    margin: 0px;
}
img {
    border: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    background-color: #F3F1E9;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}
html > body {
    min-height: 100%;
    height: auto;
}
#header {
    margin-top: 0px;
    height: 222px;
    background-image: url(images/index/header_bg.gif);
    background-position: top left;
    background-repeat: repeat-x;
}
#header_inside {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#menu {
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 156px;
    left: 26px;
    font-size: 16px;
    z-index: 99;
}
#menu li {
    display: inline;
    z-index: 99;
}
#menu a {
    margin: 0 1px 0 0;
    text-align: center;
    text-decoration: none;
    padding: 8px 0 18px 0;
    display: block;
    float: left;
    color: #0D0D0D;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 99;
}
#menu .but_active, #menu .but:hover {
    background-image: url(images/index/but.png);
    text-decoration: none;
    color: #FFFFFF;
    z-index: 99;
}

.main_nav ul li {
    float: left;
    position: relative;
    text-align: center;
    z-index: 99;
}
.main_nav ul li a {
    background-image: none;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 110px;
    z-index: 99;
}
.main_nav ul li dl {
    position: absolute;
    left: 0;
    top: 40px;
    margin-left:-50px;
    display: none;
    z-index: 99;
}
.main_nav ul li dl dd a {
    text-align: center;
    border-bottom: 1px solid #666;
    width: 220px;
    background-color: #a3bd38;
    border-radius:3px;
}
.main_nav ul li dl dd a:hover {
    text-decoration: none;
    background-color: #537224;
}
#wrapper {
    padding: 0 0 10px 0
}
#content_inside {
    background-image: url(images/index/bg.gif);
    background-position: top left;
    background-repeat: no-repeat;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden
}
#sidebar {
    width: 160px;
    min-height: 300px;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    float: left;
    position: absolute;
    padding:30px 10px 10px 10px;
    border-radius:10px;
    border:1px solid #9BDF70;
    background-color: #F0FBEB;
    z-index: 1;
}

#list {
    list-style-type: none;
    margin: 11px 0 0 0;
    line-height: 18px;
}
#list a {
    font-size: 16px;
    color: #464646;
    text-decoration: none
}
#list a:visited {
    text-decoration: none
}
#list a:hover {
    text-decoration: underline
}
#list li {
    width: 162px;
    margin-left:15px;
}

.sidebar_nav{
}

.sidebar_nav ul li a {
    width:125px;
    margin-top:20px;
    display: block;
    text-decoration: none;
}
.sidebar_nav ul li dl {
    display: none;
}
.sidebar_nav ul li dl dd a {
    margin-left:10px;
    margin-top:15px;
    width:105px;
    text-decoration: none;
}
.sidebar_nav ul li dl dd a:hover {
    text-decoration: none;
    background-color: #a3c02a;
}

#main_block {
    font-size: 15px;
    color: #464646;
    overflow: hidden;
    float: right;
    width: 800px;
    min-height: 500px;
    display:block;
    border-radius:10px;
    border:1px solid #CCEFF5;
    background-color: #FAFCFD;
    border:1px solid #9BDF70;
    background-color: #F0FBEB;
}
/*
.box { background:white url(boxes/box-bg.png) left top repeat-x; width:100%;}
.box .border-top {background:url(boxes/border.png) repeat-x top;}
.box .border-bot {background:url(boxes/border.png) repeat-x bottom;}
.box .border-left {background:url(boxes/border.png) repeat-y left;}
.box .border-right {background:url(boxes/border.png) repeat-y right;}
.box .left-top-corner {background:url(boxes/left-top-corner.png) no-repeat left top;}
.box .right-top-corner {background:url(boxes/right-top-corner.png) no-repeat right top;}
.box .left-bot-corner {background:url(boxes/left-bot-corner.png) no-repeat left bottom; width:100%;}
.box .right-bot-corner {background:url(boxes/right-bot-corner.png) no-repeat right bottom; }
.box .inner { padding:20px 35px 30px 34px;}
*/
.about {
    float: left;
    word-break: normal;
    width:780px;
    padding:10px 10px 10px 10px;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}
.about p {
    padding: 5px 0 0 0px;
    word-break: normal;
}
.about .title {
    color: #464646;
    text-align: center;
    font-size: 28px;
}

.about .timearea {
    float: right;
}
.about a {
    color: #547223;
    text-decoration: underline;
    margin: 5px 0 10px 5px;
    
}
.about a:visited {
    text-decoration: underline
}
.about a:hover {
    text-decoration: none
}

.about .timerow{
    margin-top:2px;
    align:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.about .timerow .applydeadline{
    margin-left:50px;
}
.about .timerow .endtime{
    margin-left:50px;
}
.about .attachment{
    margin-top:20px;
}
.about #newstable{
    width:100%;
    font-size:13px;
}

.about #newstable thead{
    display:none;
}
.about #newstable .newstimearea{
    align:center;
    width:20%;
    text-align:center;
}
.about #newstable .newsstatus{
    align:center;
    width:15%;
    text-align:center;
}
.about #newstable .newstitle{
    text-align:left;
    width:auto;
}

.about #baomingtable{
    width:100%;
}
.about #baomingtable td{
    align:center;
}

.about #baomingtable .newsattachment{
    align:center;
    text-align:center;
    width:30%;
}

.about #baomingtable .newstime{
    align:center;
    text-align:center;
    width:25%;
}

.about #baomingtable .newsoperation{
    align:center;
    text-align:center;
    width:15%;
}

.about #baomingtable .newstitle{
    width:30%;
}

.about #teacherselectertable td{
    align:center;
    text-align:center;
}
.about #teacherselectortable td{
    align:center;
    text-align:center;
}
.about #studentselectertable td{
    align:center;
    text-align:center;
}
.about #studentselectortable td{
    align:center;
    text-align:center;
}

.uploadfile{
    margin-top:20px;
    
}
.uploadfile input{
    align:center;
    text-align:center;
}

.operationarea{
    margin-top:10px;
    width:100%;
    align:center;
    text-align:center;
}

.operationarea input{
    width:80px;
    align:center;
    text-align:center;
    height:30px;
    margin-left:20px;
}

#footer {
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-image: url(images/index/footer_bg.gif);
    background-position: top left;
    background-repeat: repeat-x;
}
#footer_inside {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-image: url(images/index/footer.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    font-size: 11px;
    text-align: center;
}
.footer_menu {
    list-style-type: none;
    padding: 25px 0 0 42px;
}
.footer_menu li {
    display: inline;
    line-height: 17px;
    float: left;
}
.footer_menu li a {
    color: #0D0D0D;
    text-decoration: none;
    margin: 0 6px;
}
.footer_menu li a:visited {
    text-decoration: none
}
.footer_menu li a:hover {
    text-decoration: underline
}
#footer_inside p {
    padding: 10px 0 0 48px;
}
#footer_inside p a {
    color: #E9410E;
    text-decoration: underline
}
#footer_inside p a:visited {
    text-decoration: underline
}
#footer_inside p a:hover {
    text-decoration: none
}

#index_main_block {
    font-size: 18px;
    color: #464646;
    overflow: hidden;
    float: left;
    width: 100%;
}
#index_main_block .about {
    padding: 0 0 0 0;
    width: 100%;
    float: none;
}

#mainimg {
    text-align: center;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

#welcomeinfo {
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 156px;
    right: 26px;
    font-size: 16px;
    margin-top: 10px;
}

.parent {
    background-color: #ECECC5;
    margin: 10px 0 10px 0;
}
.child {
    margin-left: 20px;
    font-size: 16px;
    margin: 5px 0 5px 10px;
}
.color_active {
    background-color: #a3c02a
}

.releasetime {
    text-align: center;
}



table{
    width:100%;
}

table td{
    padding:5px 5px 5px 5px;
}
table th{
    padding:5px 5px 5px 5px;
}

#teacherinfotabel .namelabel{
    width:120px;
}

#teacherinfotabel .namefield{
    width:230px;
}
#teacherinfotabel .titlelabel{
    width:120px;
}
#teacherinfotabel .titlefield{
    width:230px;
}
#teacherinfotabel .descriptionlabel{
    width:120px;
}
#teacherinfotabel .descriptionfield{
    width:660px;
    overflow: hidden;
}
#teacherinfotabel{
     border-collapse:collapse;
}
#teacherinfotabel td{
    border:solid 1px;
}

#teacherprofileform #teacherinfotabel{
    width:780px;
}

#teacherprofileform{
    height:580px;
}

#teacherprofileform #cke_teacherdescription{
    width:640px;
}
#teacherprofileform input[type="text"]{
    width:90%;
    font-size:18px;
}
#teacherprofileform .cke_resizer{
    display:none;
}


#stuOForm #stuopagetable{
	 width:800px;
}
#stuOForm #cke_obackground{
    width:590px;
}
#stuOForm #cke_abstract{
    width:590px;
}
#stuOForm #cke_functiondescription{
    width:590px;
}
#stuOForm .cke_resizer{
    display:none;
}
#stuOForm input[type="text"]{
    width:90%;
    font-size:18px;
}


#stuodetailtable{
     border-collapse:collapse;
}
#stuodetailtable td{
    border:solid 1px;
}
#stuodetailtable th{
    border:solid 1px;
}

.about #newstable td{
    padding:1px 0 0 0;
    font-size:14px;
}
