body{
	background-image:url(../../images/home/index.png);
}
#divcircles
{
/*
	width:80%;
	height:80%;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	position:absolute
	*/
}
.divcircle{
	width:150px;
	height:150px;
	border-radius:50%;
	border:2px solid #88b6d8;
	/*
	-moz-box-shadow:3px 3px 4px #000;
	-webkit-box-shadow:3px 3px 4px #000;
	box-shadow:3px 3px 4px #85b5d9;
	background:#fff;
	filter:Glow(Color="#6699CC",Strength="5");
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
	*/
	background-image:url(../../images/home/xh.png);
	position:absolute;
	
}
#circle1{
	margin-top:70%;
	margin-left:20%;
}
#circle2{
	margin-top:50%;
	margin-left:35%;
}
#circle3{
	margin-top:30%;
	margin-left:50%;
}
#circle4{
	margin-top:10%;
	margin-left:65%;
}
