body {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
html {
	background-color: #F9F9F9;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
body {
	background-color: #F9F9F9;
	font-family: Verdana, Arial,Vrinda,Tahoma;
	line-height: 175%;
	font-size:12px;
	color:#666;
}
a {
	color: #555;
	text-decoration:none;
}
a:hover {
	color: #0099CC;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display:inline;
}
ul{
    margin:0;
	padding:0;
	list-style-position: outside;
	list-style-type: none;
}
li{
	margin:0;
	padding:0;
}
div{
	margin:0;
	padding:0;
}
.header_content {
	margin: 0 auto;
	padding:0px;
	width: 100%;
}
.header_content .logo {
	height: 80px;
	width: 100%;
	float: left;
}
.header_content .right_nav {
	float: right;
	width: 80%;
	height: 50px;
}

.right_nav .text_left {
	float: left;
	width: 20%;
	padding: 22px 0 0 0;
	color: #CC3300;
}
.right_nav .text_right {
	float: right;
	width: 80%;
	display: inline;
	padding: 22px 0 0 0;
	text-align: right;
}
.nav_list a {
	display: inline;
	color:#3399CC;
}
.nav_list li {
      display:inline;
	  }
.nav_return a {
	display: inline;
	color:#3399CC;
}
.nav_return li {
	display: inline;
}
#left_content {
	clear: both;
	width: 220px;
}
#left_content #user_info {
	background-image: url(../../images/admin/images/back_l2.png);
	background-repeat: no-repeat;
	height: 60px;
	margin: 5px 0px 5px 0px;
	padding: 20px 0px 0px 85px;
}
#left_content #user_info a{
    color:#009900;
}

#left_content #check_wait {
	
}
#left_content #main_nav {
	width: 220px;
	background-image: url(../../images/admin/images/left_nav_bg.jpg);
	background-repeat: repeat-y;
}
#left_main_nav {
	float: left;
	width: 25px;
	line-height: 13px;
	color:#5AC023;
}
#left_main_nav li{
	height:93px;
	width:12px;
	text-align: center;
	padding: 7px 6px 0 7px;
}
.left_back{
	background-image: url(../../images/admin/images/back_l3_l1_off.png);
	background-repeat: no-repeat;
	cursor:pointer;
}
.left_back_onclick{
	background-image: url(../../images/admin/images/back_l3_l1_on.png);
	background-repeat: no-repeat;
	color:#666666;
}
#left_main_nav a{
    color:#5AC023;
}#right_main_nav {
	width: 194px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B4C9C6;
	border-bottom-color: #B4C9C6;
	float: right;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B4C9C6;
	height: 450px;
	text-align: left;
}
.list_tilte {
	background-image: url(../../images/admin/images/list_title.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #339900;
	margin-top: 9px;
	cursor:pointer;
}
.list_tilte_onclick {
	background-image: url(../../images/admin/images/list_title_onclick.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #339900;
	margin-top: 9px;
	cursor:pointer;
}
.list_detail {
	margin: 0 auto;
}
.list_detail li{
	list-style-image: url(../../images/admin/images/direct_app.png);
	list-style-position: inside;
	padding: 0 0 0 35px;
    }

#switchpic {
	width: 6px;
	cursor:pointer;
	clear: both;
	vertical-align: bottom;
	margin-top: 220px;
}
#nav {
	width:99%;
	float:left;
	margin: 5px 0px 0px 0px;
	background-image: url(../../images/admin/images/back_nav_bg.png);
}
#nav ul { 
      margin:0; 
	  list-style:none; 
	  padding: 0;
 }
#nav li {
     float:left; 
	 margin:0; 
	 padding:2px 37px 0 30px;
	 line-height:33px;
	 font-size:14px;
}
.bg_image{
	 background: url(../../images/admin/images/back_nav_tab_off.png) no-repeat;
	 cursor:pointer;
}
.bg_image_onclick{
	 background: url(../../images/admin/images/back_nav_tab_on.png) no-repeat;
	 cursor:pointer;
	 color:#009900;
}
#sub_info {
	width: 99%;
	float:left;
	background-image: url(../../images/admin/images/back_r3.png);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B4C9C6;
	border-bottom-color: #B4C9C6;
	border-left-color: #B4C9C6;
	height: 35px;
	background-repeat: repeat-x;
	padding: 8px 0 0 0;
}

