body{
	overflow: hidden;
}

div.main_zone{
	height: 452px;
	width: 99%;
	border: 1px solid #B4C9C6;
	margin: 5px 0 0 0;
	background-color:#FFFFFF;
	padding: 10px 10px 20px 10px;
	overflow: scroll;
}

div.main_zone a{
	color: #009900;
	text-decoration:none;
}

div.main_zone a:hover {
	color: #AA4400;
}



table.list_table{
	width:99%;
	border:0; 
	align:center;
}

table.list_table td,th{
	font-family: ו, Arial;
	font-size: 12px;
}

table.form_table {
border-collapse: collapse;
border: 1px solid #C1DAD7;
width: 100%;
padding: 0;
margin: 0;
}

table.form_table .first_td {
width: 180px;
border: 1px solid #c0de98;
font-size:11px;
padding: 6px 6px 6px 12px;
color: #4f6b72;
background: #CBFFB9  no-repeat;
}

table.form_table .second_td {
border: 1px solid #c0de98;
font-size:11px;
padding: 6px 6px 6px 12px;
color: #4f6b72;
}

table.form_table td.alt {
border: 1px solid #c0de98;
background: #F5FAFA;
color: #797268;
}

table.form_table .my_text{
	height:22px;
	font: normal 13px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


input.my_button{
BORDER-RIGHT: #7b9ebd 1px solid; 
PADDING-RIGHT: 2px; 
BORDER-TOP: #7b9ebd 1px solid; 
PADDING-LEFT: 2px; 
FONT-SIZE: 12px; 
BORDER-LEFT: #7b9ebd 1px solid; 
CURSOR: hand; 
COLOR: black; 
PADDING-TOP: 2px; 
BORDER-BOTTOM: #7b9ebd 1px solid;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#CAE4B6); 
}